body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  background-size: cover;
  background-position: center;
  transition: background-image 0.8s ease;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  margin-top: 80px;
  text-align: center;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

#menuBtn {
  background: #6C63FF;
  border: none;
  color: white;
  font-size: 28px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

.menu-list button {
  background: #1d1d1d;
  border: none;
  color: white;
  padding: 10px;
  margin: 3px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list button:hover {
  background: #6C63FF;
}

.quote-box {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.6);
}

#quoteText {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 1.4;
}

/* Fade animation */
.fade {
  opacity: 0;
  transition: opacity 0.6s;
}

.fade.show {
  opacity: 1;
}

.btns {
  display: flex;
  gap: 15px;
  justify-content: center;
}

button {
  background: #6C63FF;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #8b83ff;
}

.history {
  margin-top: 40px;
}

.history h3 {
  margin-bottom: 10px;
}

#historyList {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

#historyList li {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
}
