body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.6s ease;
}

/* Контейнер */
.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.6);
  width: 80%;
  max-width: 600px;
}

/* Меню */
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

#menuBtn {
  background: #6C63FF;
  border: none;
  color: white;
  font-size: 28px;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.menu-list {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

.menu-list button {
  background: #2a2a2a;
  border: none;
  color: white;
  padding: 10px;
  margin: 3px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list button:hover {
  background: #6C63FF;
}

/* Цитата */
.quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quoteText {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* Кнопка Next */
#nextBtn {
  background: #6C63FF;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#nextBtn:hover {
  background: #8b83ff;
}
